.title {
  font-size: 48px;
  line-height: 56px;
  filter: blur(0.007em);
}


.sub-title {
  font-size: 24px;
  line-height: 32px;
}


.container {
  padding: 0 15%;
}

.media {
  display: flex;
  gap: 12px;
}

.media a {
  color: #fefefe;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 10px #0ff;
  animation: blink linear 2s;
}

.neon-svg {
  color: #fff;
  filter: drop-shadow(0px 0px 3px #0ff);
  animation: blink linear 2s;
}

@keyframes blink {
  78% {
    color: inherit;
    filter: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@media (width < 720px) {
  .container {
    padding: 0 5%;
  }
}