.frame {
  background-color: rgb(17, 124, 92);
  height: 250px;
  width: 270px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 10px 30px rgb(97, 5, 109);
}

.image-icon {
  position: absolute;
  top: -20px;
  left: calc(50% - 125px);
  border-radius: 16px;
}